.buttons {
  display: flex;
  gap: 10px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.button {
  width: 80px;
  height: 25px;
  border: 1px solid;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
}
.button:active {
  background-color: rgb(81, 81, 221);
  color: white;
}
